.idea/
cmake-build-debug/

.DS_Store

*.cbp
*.pc
*.cmake
*.make
*.py

*.o
*.d
*.so
*.pcm
*.out

CMakeFiles/
tests/CMakeFiles/
tests/lib/googletest-master/CMakeFiles/
tests/lib/googletest-master/googlemock/CMakeFiles/
CMakeCache.txt
Makefile

tests/net_test

NeuralNet

*.a
*.csv
tests/lib/googletest-master/googlemock/
